<p>
	Bonjour {{receiver}},
</p>
<p>
	The lovebot à trouver votre âme-soeur!<br/>
	Sont nom est {{emitter.name}} et son adresse email est {{emitter.email}}.<br/>
	Vous pouvez emtentre son commentaire sur vous en clickant ce <a href='{{audio}}'>lien</a><br/>
	Ou rendez-vous à cette adresse : {{audio}}
</p>
<p>
	Merci pour votre participation.
</p>
<p>
	PS : répondez à cet email pour lui envoyer un message.
</p>